# for the following, waiting to commit this until can tell its necessary for deployment
**/.DS_Store
**/__ignore.py
**/uv.lock
*.db
*.py[cod]
.vscode/
.web
__pycache__/
assets/external/
requirements.txt
src/**/.python-version
src/rxext/rxext.egg-info/
.mise.secret.toml

# dont commit these by default if you update them
.mise.*.toml

_NOTES.md
_ignore/

# ignore docs until i know how i want to parse/present
docs/

assets/releases
releases/
# ignore database migrations until solidify the database
alembic/
alembic.ini

.env

.pdm-python
pdm.lock
saasrx_starter.egg-info/
supabase/
